@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom global styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f7fafc; /* Tailwind's bg-gray-100 equivalent */
  color: #2d3748; /* Tailwind's text-gray-900 equivalent */
}

a {
  text-decoration: none;
  color: inherit;
}
